body {
    background-color:#fffadd; 
}
h1{
 color:#331D2C;
 align-content: center;
font-family: Arial, Helvetica, sans-serif;}
h2{
    color:aliceblue;
    background-color: #000;
    width:fit-content;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
 color: #000;
 font-family: Arial, Helvetica, sans-serif;}
p{
align-items: center;
font-family: Arial, Helvetica, sans-serif;
font-size:large;
}
li{
    font-family: Arial, Helvetica, sans-serif;
font-size:large;

}
.profile-pic,.CODECHEF{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float:left;
    margin-top: 2px;
    margin-left: 150px;
    margin-right: 70px;
 }
 .paw{
    size: 100px;
 }

 #links,img{
    display: inline-flex;
    gap:20px;
    height:30px;
    width:30px;
 }
 section{
    margin-left: 10px;
 }
 @media (max-width : 1028px){
    #first,#code{
        text-align: center;
    }
    .profile-pic,.CODECHEF{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float:left;
    margin-top: 2px;
    }
    #links,img{
        display: inline-flex;
        gap:20px;
        height:30px;
        width:30px;
     }
     h1{
        color:#331D2C;
        align-content: center;
       font-family: Arial, Helvetica, sans-serif;
    }
    
    h2{
        color:aliceblue;
        background-color: #000;
        width: 100%;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    h3{
     color: #000;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;}
     .paw{
        size: 60px;
     }
    p{
        align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;

    }
    #links,img{
        display: inline-flex;
        gap:30px;
        height:70px;
        width:70px;
 }}

